
@{
    ViewBag.Title = "ReqInput";
}

<link rel="stylesheet" href="~/Content/ReqPage.css" />


    <body>
        @*<link rel="stylesheet" href="~/Content/slideshow.css" />*@
        <table>
            <colgroup width="250" />
            <colgroup width="250" />
            <tr>
                <td>
                    <form>
                        <div>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />

                            <label id="l1">Buiseness Unit</label>
                            <br />
                            <label>Java Developers</label>
                            <input type="number" min=0 placeholder="Requirements" class="form-control" /><br />
                            <label>.Net Developers</label>
                            <input type="number" min=0 placeholder="Requirements" class="form-control" /><br />
                            <label>Buiseness Analyst</label>
                            <input type="number" min=0 placeholder="Requirements" class="form-control" /><br />

                            <br />
                            <button type="button" class="btn btn-primary">Request</button>

                        </div>
                    </form>
                </td>

                <td>
                    <div class="slideshow-container" float="left">
                        <div class="mySlides fade">
                            <div class="numbertext"></div>
                            <img src="~/Content/slideimage1.jpg" style="width:100%">
                            <div class="text">Caption Text</div>
                        </div>

                        <div class="mySlides fade">
                            <div class="numbertext"></div>
                            <img src="~/Content/slideimage2.jpg" style="width:100%">
                            <div class="text">Caption Two</div>
                        </div>

                        <div class="mySlides fade">
                            <div class="numbertext"></div>
                            <img src="~/Content/slideimage3.jpg" style="width:100%">
                            <div class="text">Caption Three</div>
                        </div>

                        <div class="mySlides fade">
                            <div class="numbertext"></div>
                            <img src="~/Content/slideimage5.jpg" style="width:100%">
                            <div class="text">Caption Five</div>
                        </div>
                    </div>

                    <div style="text-align:center">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                </td>
            </tr>
        </table>
    </body>
<script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 3000);
    }
</script>

